.container {
  width: 1220px;
  margin: 0 auto;
  /* background-color: lightcoral; */
}
.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-navigation-block {
  display: flex;
  align-items: center;
}
.consulting {
  width: 184px;
  height: 65px;
  background-color: #6b77e5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 40px;
}

.ul-eleemnt {
  display: flex;
  justify-content: space-between;
  width: 601px;
}

.header-element {
  padding-top: 53px;
  position: sticky;
  /* width: 100%; */
  top: 0;
  left: 0;
  background-color: lightblue;
  z-index: 100;
}

body {
  height: 4000px;
  /* padding-top: 118px; */
}

/* section styles */
.box {
  width: 386px;
  height: 383px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.descr {
  width: 300px;
  background-color: lightgreen;
  text-align: center;
}
.boxes {
  display: flex;
  justify-content: space-between;
}
.title-block {
  text-align: center;
  margin-bottom: 41px;
}

.cirle {
  width: 72px;
  height: 72px;
  background-color: #40ddb6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* image section */
.image {
  width: 100%;
}
.image-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aquamarine;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 511px;
}
.image-wraper {
  position: relative;
}
.blue-box {
  width: 64.5px;
  height: 64.5px;
  background-color: #6b77e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
